[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/dbext"]
	path = vim/bundle/dbext
	url = git://github.com/vim-scripts/dbext.vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/vim-afterimage"]
	path = vim/bundle/vim-afterimage
	url = git://github.com/tpope/vim-afterimage.git
[submodule "vim/bundle/lojban"]
	path = vim/bundle/lojban
	url = https://github.com/vim-scripts/lojban
[submodule "vim/bundle/viki_vim"]
	path = vim/bundle/viki_vim
	url = git://github.com/tomtom/viki_vim.git
[submodule "vim/bundle/vikitasks_vim"]
	path = vim/bundle/vikitasks_vim
	url = git://github.com/tomtom/vikitasks_vim.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/quickfixsigns_vim"]
	path = vim/bundle/quickfixsigns_vim
	url = git://github.com/tomtom/quickfixsigns_vim.git
[submodule "vim/bundles/tmarks_vim"]
	path = vim/bundles/tmarks_vim
	url = git://github.com/tomtom/tmarks_vim.git
[submodule "vim/bundle/trag_vim"]
	path = vim/bundle/trag_vim
	url = git://github.com/tomtom/trag_vim.git
[submodule "vim/bundle/tmru_vim"]
	path = vim/bundle/tmru_vim
	url = git://github.com/tomtom/tmru_vim
[submodule "vim/bundle/rainbow_paranthesis"]
	path = vim/bundle/rainbow_paranthesis
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-browsereload-mac"]
	path = vim/bundle/vim-browsereload-mac
	url = git://github.com/tell-k/vim-browsereload-mac.git
[submodule "vim/bundle/vim-extradite"]
	path = vim/bundle/vim-extradite
	url = git://github.com/int3/vim-extradite.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
