snippet pl
Promote::Logger.logger.${0} { "${1}" }
endsnippet

snippet bb
require 'byebug'; byebug
endsnippet

snippet pry
require 'pry'; binding.pry
endsnippet

snippet sp
save_page 'cap'
endsnippet

snippet shot
save_screenshot('~/code/screenshot.png')
endsnippet
