snippet re
require '`!v expand('#')`'

endsnippet

snippet putscolor
puts "\e[33m${0}\e[0m"
endsnippet

snippet pl
Promote::Logger.logger.${0} { "${1}" }
endsnippet

snippet bb
require 'byebug'; byebug
endsnippet

snippet pry
require 'pry'; binding.pry
endsnippet

snippet sp
save_page 'cap'
endsnippet

snippet ss
save_screenshot('~/code/screenshot.png')
endsnippet
